@import "./colors.scss";

section {
  background-color: $white;
  box-sizing: border-box;
  padding: 2rem;
  text-align: left;}

dt {
  background: #eee;
  padding: 1em 2.3em;
}
table{
  th{width: 20vw;}
   td,th {
  background: #eee;
}

tr:nth-child(odd) td,th {
  background: #fff;
}
}
.links {
  vertical-align: baseline;
}
.linksIcon{
  vertical-align: middle;
}